.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87.5vh;
  flex-direction: column;
}

.form {
  width: 50%;
  height: auto;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-primary {
  background-color: #0dca0d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #81db81;
}

.btn-cancel {
  background-color: #b81e1e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
}

.btn-cancel:hover {
  background-color: #db8181;
}

.invalid-feedback {
  color: red;
}

.button-container {
  display: flex;

}